[Unit]
Description=Auto Restart Xfce4 Notifyd

[Service]
ExecStart=/usr/lib/xfce4/notifyd/xfce4-notifyd
ExecStop=killall -q xfce4-notifyd
ExecReload=killall -q xfce4-notifyd && /usr/lib/xfce4/notifyd/xfce4-notifyd
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
