[Unit]
Description=Clash Service
After=network.target

[Service]
ExecStart=/usr/sbin/mihomo -d /home/hexh/.config/clash
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
