[Unit]
Description=Forward Ports Service
After=network.target

[Service]
ExecStart=zsh -ic /home/hexh/workspace/dotfiles/.config/my-config/sh/forward-ports.sh
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
