[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=alttab
Comment=alttab
# Exec=sh -c 'alttab -vertical -d 1 -fg "#ffffff" -bg "#222b2e" -t 500x30 -i 40x30 -frame "#032958" -font "xft:Sarasa Mono SC Nerd"'
Exec=sh -c 'alttab -vertical -d 1 -fg "#ffffff" -bg "#222b2e" -t 500x30 -i 40x30 -frame "#2eb398" -font "xft:Sarasa Mono SC Nerd"'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

