[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=clipman
Comment=clipman
Exec=sh -c "sleep 30; xfce4-clipman"
TryExec=sh -c "sleep 30; xfce4-clipman"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
