[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=feh
Comment=
Exec=sh -c "feh --bg-fill ~/桌面/share/图片/88875544_p3.jpg ~/桌面/share/图片/theme_frame_.png"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

