[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=git-dude
Comment=git-dude
Exec=sh -c "~/.config/my-config/sh/git-dude/git-dude.sh ~/.git-dude"
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

