[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=landrop
Comment=
Exec=sh -c '~/app/LANDrop-latest-linux.AppImage'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

