[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=picom
Comment=
Exec=sh -c "sleep 10; (picom -b & pkill xfce4-panel & (sleep 3; xfce4-panel))"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

