snippet moex "module.exports = " b
module.exports = ${1}
endsnippet

snippet cl "console.log" i
console.log(${1})
endsnippet

snippet im "import from" b
import ${1} from "${2}"
endsnippet

snippet imm "import {} from" b
import { ${1} } from "${2}"
endsnippet

snippet ima "import all from" b
import * as ${1} from "${2}"
endsnippet

snippet sett "setTimeout" i
setTimeout(() => {
  ${1}
}, ${2:50})
endsnippet

snippet if "if" i
if (${1}) { ${2} }
endsnippet
