[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hexh/桌面/share]
row=8
col=0

[/home/hexh/桌面/steam.desktop]
row=7
col=0

[/home/hexh/桌面/jdk11]
row=5
col=0

[/home/hexh/桌面/nerd-fonts]
row=3
col=0

[/home/hexh/桌面/jre11]
row=6
col=0

[/home/hexh/桌面/jdk]
row=4
col=0

[回收站]
row=0
col=0

[/]
row=1
col=0

[/home/hexh]
row=2
col=0

