[Desktop Entry]
Version=1.0
Type=Application
Name=toggle floating
Comment=toggle floating
Exec=i3-msg "floating toggle"
Icon=/home/hexh/桌面/share/图片/icons/maximize.png
Path=
Terminal=false
StartupNotify=false
